<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Plugin
    body
        include components/config.pug
        .slider-wrapper
            .slider
            +config('slider')
        .slider-wrapper
            .main-slider
            +config('main-slider')