*,
*::before,
*::after {
  box-sizing: border-box;
}

.fsd {
  position: relative;
  max-width: 100%;
  width: 100%;
  font-family: "Roboto";
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 10%;
  //   transform: translateX(-50%);
  //   height: 100%;
  //   width: 3px;
  //   background: blue;
  // }
  &__inner {
    position: relative;
    width: 100%;
    margin-bottom: 7px;
  }
  &__range {
    width: 100%;
    height: 20px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(236, 233, 233);
    border-radius: 10px;
  }
  &__slider {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #333;
    &-wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
  }

  &__interval{
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(#333, 0.7);
  }
  &__prompt {
    font-size: 14px;
    line-height: 17px;
    padding: 2px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -30px;
    transform: translateX(-50%);
    left: 50%;
    background: #333;
    position: absolute;
    color: #fff;
    &::after{
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: calc(100% - 1px);
      border-top: 7px solid #333;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }
  &__slider,
  &__scale,
  &__range,
  &__interval {
    cursor: pointer;
  }
  &__scale {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    position: relative;
    span {
      position: absolute;
    }
    span + span {
      transform: translateX(-50%);
    }
  }
}
