@import "./global";
@import "./fonts";
@import "./vars";
body{
    padding-top: 100px;
}
.slider{
    max-width: 100%;
    width: 100%;
    margin-right: 20px;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
}

.config{
    max-width: 500px;
    &__title{
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        margin: 10px 0;
    }
}

@import "./media";
